<div class="container-fluid no-padding">
  <h1>Send Confirmation Email</h1>
</div>

<div class="col-md-12 col-sm-12">
  <%= form_with model: @email, local: true do |f|%>
    <div class="table-responsive-lg adapt-email-template-table">
      <table>
        <tr>
          <td class="td-container name"><b>To</b></td>
          <td><%= f.text_field(:recipient, class: "form-control") %></td>
        </tr>

        <tr>
          <td class="td-container content"><b>Subject</b></td>
          <td>
            <%= f.text_field(:subject, class: "form-control") %>
          </td>
        </tr>

        <tr>
          <td class="td-container content"><b>Body</b></td>
          <td>
            <%= f.text_area(:content, size: "100x10", class: "form-control") %>
          </td>
        </tr>

        <tr>
          <td colspan="2" class="submit-btn"><%= f.submit("Submit", class: "btn btn-large btn-dark")%></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
