<div class="container-fluid no-padding">
  <h1>Template List</h1>
</div>

<div class="header" style="text-align: center">
  <%= link_to 'New Template', new_email_template_path, class: "btn btn-large btn-light", style: "background-color: #3399ff", method: :get %>
</div>

<div class="col-md-12 col-sm-12">
  <div class="table-responsive">
    <div class="col-md-12 scrollable">
      <table class="table template-table">
        <tr>
          <th class="name">Name of Template</th>
          <th class="content">Content</th>
        </tr>
        <% @templates.sort_by(&:created_at).reverse.each do |t| %>
          <tr>
            <td class="name"><%= t.name %></td>
            <td class="content"><%= truncate(t.content, length: 80) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="footer" style="text-align: center">
  <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-large btn-light", style: "background-color: #ffaaaa", method: :delete %>
  <%= link_to 'Booking requests', bookings_path, class: "btn btn-large btn-light", style: "background-color: #3399ff", method: :get %>
</div>